---
import Layout from "../../layouts/Layout.astro";
import MilestoneView from "../../views/MilestoneView.astro";

const milestones = [
  {
    date: "2026.05.06",
    content:
      "Website new look, using a minimalist Astro template developed by myself",
  },
  {
    date: "2025.06.06",
    content:
      "Website new look, migrated to Astro and using <a href='https://github.com/saicaca/fuwari' target='_blank' rel='noopener noreferrer'>saicaca/fuwari</a> as a template",
  },
  {
    date: "2024.04.01",
    content: "Completed ICP filing",
  },
  {
    date: "2024.03.30",
    content: "Enabled domain codecyrus.com",
  },
  {
    date: "2024.03.30",
    content: "Changed VPS provider from Tencent Cloud to Alibaba Cloud",
  },
  {
    date: "2023.08.29",
    content: "Enabled domain cyrus28214.top",
  },
  {
    date: "2023.07.05",
    content: "Replaced Github Pages backend with Tencent Cloud VPS",
  },
  {
    date: "2023.06.29",
    content: "Built website with Hexo and Github Pages",
  },
];
---

<Layout lang="en">
  <MilestoneView title="Milestones" milestones={milestones} />
</Layout>
