---
import Layout from "../layouts/Layout.astro";
import MilestoneView from "../views/MilestoneView.astro";

const milestones = [
	{
		date: "2026.05.06",
		content: "New look for the personal website, using a custom minimalist Astro template",
	},
	{
		date: "2025.06.06",
		content:
			"New look for the personal website, migrated to Astro and using <a href='https://github.com/saicaca/fuwari' target='_blank' rel='noopener noreferrer'>saicaca/fuwari</a> as a template",
	},
	{
		date: "2024.03.30",
		content: "Enabled the domain codecyrus.com",
	},
	{
		date: "2024.03.30",
		content: "Switched VPS provider from Tencent Cloud to Alibaba Cloud",
	},
	{
		date: "2023.08.29",
		content: "Enabled the domain cyrus28214.top",
	},
	{
		date: "2023.07.05",
		content: "Switched Github Pages backend to Tencent Cloud VPS",
	},
	{
		date: "2023.06.29",
		content: "Website created using Hexo and Github Pages",
	},
];
---

<Layout>
  <MilestoneView title="Milestones" milestones={milestones} />
</Layout>
