---
import { Languages } from "@lucide/astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Dropdown from "./Dropdown.astro";
import { buildLocaleUrl, changeUrlLocale, type LanguageKey } from "../lib/i18n";

const languages = {
  en: "English",
  zh: "简体中文",
} as Record<LanguageKey, string>;
interface Props {
  lang: LanguageKey;
}

const { lang } = Astro.props;
const url = Astro.url.pathname;
---

<Dropdown id="lang">
  <div slot="trigger">
    <Languages size={20} stroke-width={1.5} />
  </div>

  <Fragment slot="menu">
    {
      Object.entries(languages).map(([langKey, label]) => {
        const isCurrent = langKey == lang;
        return (
          <li role="menuitem">
            <a
              href={changeUrlLocale(url, langKey as LanguageKey)}
              class={`lang-option ${isCurrent ? "active" : ""}`}
              aria-label={label}
            >
              {label}
            </a>
          </li>
        );
      })
    }
  </Fragment>
</Dropdown>

<style>
  .lang-option {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    border-radius: 4px;
    text-align: left;
    transition: background-color 0.2s;
  }

  .lang-option:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
  }

  .lang-option.active {
    color: var(--primary-color);
    background-color: var(--border-color);
  }
</style>
