---
import { Languages } from "@lucide/astro";
import Dropdown from "./Dropdown.astro";
import { langLabel, type LanguageKey } from "../lib/i18n";

const languages = {
  en: "English",
  zh: "简体中文",
} as Record<LanguageKey, string>;
interface Props {
  localeLinks: {
    lang: LanguageKey;
    href: string;
  }[];
  lang: LanguageKey;
}

const { lang, localeLinks } = Astro.props;
const url = Astro.url.pathname;
---

<Dropdown id="lang">
  <div slot="trigger">
    <Languages size={20} stroke-width={1.5} />
  </div>

  <Fragment slot="menu">
    {
      localeLinks.map((l) => {
        const isCurrent = l.lang == lang;
        return (
          <li role="menuitem">
            <a
              href={l.href}
              class={`dropdown-item ${isCurrent ? "active" : ""}`}
              aria-label={langLabel[l.lang]}
              aria-current={isCurrent ? "true" : undefined}
            >
              {langLabel[l.lang]}
            </a>
          </li>
        );
      })
    }
  </Fragment>
</Dropdown>
