---
import type { LanguageKey } from "../lib/i18n";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  lang: LanguageKey;
  localeLinks: {
    lang: LanguageKey;
    href: string;
  }[];
}

const { lang, localeLinks } = Astro.props;
---

<BaseLayout lang={lang} localeLinks={localeLinks}>
  <div class="page-container">
    <slot />
  </div>
</BaseLayout>

<style>
  .page-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
